@model RDLCReportProject.ViewModel.FilterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Report", "ExcelReport", FormMethod.Post, new { target = "_blank" }))
{
    <div class="row well" style="margin-top: 30px;">
        <div class="">
            <div class="col-sm-3">
                <select class="form-control" name="gender" id="Genders">
                    <option value="">Select Gender</option>
                    @{
                        foreach (string gender in Model.Genders)
                        {
                            <option value="@gender">@gender</option>
                        }
                    }
                </select>

            </div>
            <div class="col-sm-3">
                <select class="form-control" name="religion" id="Religion">
                    <option value="">Select Religion</option>
                    @{
                        foreach (string gender in Model.Religion)
                        {
                            <option value="@gender">@gender</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="Designations" name="designations">
                    <option value="">Select Designations</option>
                    @{
                        foreach (string gender in Model.Designations)
                        {
                            <option value="@gender">@gender</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="BloodGroups" name="bloodGroup">
                    <option value="">Select BloodGroup</option>
                    @{
                        foreach (string gender in Model.BloodGroups)
                        {
                            <option value="@gender">@gender</option>
                        }
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="well">
            @{
                foreach (string column in Model.ColumnNames)
                {
                    <label class="btn btn-default">
                        <input type="checkbox" name="columns" class="colunmNames" onclick="" value="@column" />
                        <label for="@column"></label>
                        @column
                    </label>
                }
            }
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="btn btn-primary btn-block" id="" onclick="ShowReportHandler()">Show Report</button>
            <button type="submit" class="btn btn-primary btn-block">Download</button>
        </div>
    </div>
}

